<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/home2" method="post">
        <input type="text" name="nome" id="">
        <input type="submit" value="pesquisar">
    </form>

    
    {{#usuario}}
    <li>pessoa encontrada {{nome}}</li>
    {{/usuario}}

    {{#create}}
    <h1>usuario criado agora</h1>
    {{/create}}
</body>
</html>