{{>parcial/header}}

<form method = "POST">
     <input type = "number" name = "ano" placeholder = "ano de nacimento"/>

    <input type="submit" value = "enviar"/>
</form>

sua idade e {{idade}} anos

{{>parcial/foot}}