{{>parcial/header}}

{{#condicional}}
<h1>bom dia! senhor: {{user.nome}} sua idade e {{user.idade}} voce e {{maio}}</h1>
{{/condicional}}

<ul>
    {{#list}}
        <li>{{title}} - R$ {{preco}}</li>
    {{/list}}
</ul>

<ul>
    {{#agenda}}
        <li>{{.}}</li>
    {{/agenda}}

    {{^agenda}}
    nao a frases hoje
    {{/agenda}}
</ul>

{{>parcial/foot}}
